PORT=5500
MONGO_URI=your-mongo-uri
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=your-super-admin-password
SUPER_ADMIN_PHONE=+61000000000

NODE_ENV=dev
# NODE_ENV=prod

FRONTEND_URL=your-frontend-url

ACCESS_TOKEN_SECRET_KEY=123
REFRESH_TOKEN_SECRET_KEY=456
ACCESS_TOKEN_EXPIRATION_MS=900000 # 15mins (15*60*1000)
REFRESH_TOKEN_EXPIRATION_MS=604800000 #7 days (7 × 24*60*60 × 1000)


RABBITMQ_URL=amqp://localhost:5672

# SMTP
RESEND_API_KEY=abcde
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=email@example.com
SMTP_PASSWORD=abcdefghijklmnop
EMAIL_VERIFICATION_TOKEN_EXPIRATION_MS=1800000
EMAIL_VERIFICATION_RESEND_COOLDOWN_MS=60000


# Twilio
TWILIO_PHONE_NUMBER=+15551234567
TWILIO_ACCOUNT_SID=your-sid
TWILIO_AUTH_TOKEN=your_auth_token_here

FIREBASE_PROJECT_ID=1234
FIREBASE_CLIENT_EMAIL=email@example.com
FIREBASE_PRIVATE_KEY=abcd

API_BASE_URL=http://localhost:5500